.works ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
}

.works li {
  margin: 0;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
}
.works li:nth-child(3n + 2) {
  margin: 0 30px 30px;
}
.works li:nth-child(n + 7) {
  margin-bottom: 0;
}
.wk {
  padding-top: 20px;
  padding-bottom: 20px;

  padding-right: 24px;
  padding-left: 24px;
}
.examples h2 {
  color: $button-text;
  font-weight: 700;
  font-size: 18px;

  margin-bottom: 0px;
  margin-top: 0;
}
.works-p {
  color: $grey;
  font-weight: 400;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.description {
  position: relative;
  overflow: hidden;
}
.descrip {
  position: absolute;
  transform: translate(-50%, 150%);
  top: 50%;
  left: 50%;
  color: white;
  width: 322px;
  height: 168px;
  margin: 0;
  font-family: $Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.description::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $blue;
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.link-description:hover .descrip {
  transform: translate(-50%, -50%);
}
.link-description:hover .description::before {
  opacity: 0.9;
  transform: translateY(0%);
}
