.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients ul {
  display: flex;
}
.clients h2 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: $text;
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  margin: 0;
}
.client-li {
  width: 170px;
  height: 90px;
  border: 1px solid $icons;
  border-radius: 4px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-li:last-child {
  margin-right: 0;
}
.client-li:hover {
  border: 1px solid $blue;
}
.clients-icon {
  fill: $icons;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-li:hover .clients-icon {
  fill: $blue;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients ul {
  display: flex;
}
.clients h2 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: $text;
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  margin: 0;
}
.client-li {
  width: 170px;
  height: 90px;
  border: 1px solid $icons;
  border-radius: 4px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-li:last-child {
  margin-right: 0;
}
.client-li:hover {
  border: 1px solid $blue;
}
.clients-icon {
  fill: $icons;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-li:hover .clients-icon {
  fill: $blue;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients ul {
  display: flex;
}
.clients h2 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: $text;
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  margin: 0;
}
.client-li {
  width: 170px;
  height: 90px;
  border: 1px solid $icons;
  border-radius: 4px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-li:last-child {
  margin-right: 0;
}
.client-li:hover {
  border: 1px solid $blue;
}
.clients-icon {
  fill: $icons;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-li:hover .clients-icon {
  fill: $blue;
}
