.work {
  padding-bottom: 94px;
}
.work h2 {
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: $text;
}
.work ul {
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.work li:not(:last-child) {
  margin-right: 30px;
}
.our-works {
  position: relative;
  height: 294px;
}
.our-works::before {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  background-color: #2f303a;
  opacity: 0.8;
  bottom: 0;
  right: 0;
}
.example {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 205px;
  height: 16px;
  margin: 0;
  margin-bottom: 27px;

  font-family: $Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
}
