@media screen and (max-width: 800px) {
  body {
    background-color: #388e3c;
  }
}

* {
  font-family: $Roboto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
address {
  display: flex;
}
textarea {
  resize: none;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  font-weight: 500;
}
h1 {
  margin: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
