$black: #000000;
$blue: #2196f3;
$grey: #757575;
$footer: #2f303a;
$white: #ffffff;
$button-background: #f5f4fa;
$button-text: #212121;
$outline: #ececec;

$Raleway: "Raleway";
$Roboto: "Roboto";
