$black: #000000;
$blue: #2196f3;
$grey: #757575;
$background: #2f303a;
$white: #ffffff;
$text: #212121;
$team: #f5f4fa;
$outline: #ececec;
$icons: #afb1b8;
$footer: #2f303a;

$Raleway: "Raleway";
$Roboto: "Roboto";
